<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<h1> {{ reader.username }}'s list of books  </h1>


<table border="1" id="books_table">
              <tr>
    <td> <b>Books</b> </td>
              </tr>
              {%for book in books%}
                  <tr> <td>  <a href ="{% url 'open_edit_book_form' query=book.id%}"> {{book.book_name}}, {{book.author}} </a>  </td> </tr>
              {% endfor %}
          </table>

</body>
</html>